<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ProductCatalogSuite" verbose="1">

     <test name="Mock Tests">
        <classes>
            <class name="com.example.calculator.tests.CalculatorServiceTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <classes>
            <class name="com.example.catalog.tests.ProductApiTest"/>
        </classes>
    </test>

    <test name="UI Tests">
        <classes>
            <class name="com.example.catalog.tests.ProductUITest"/>
        </classes>
    </test>
    
     <test name="CucumberTests">
        <classes>
            <class name="com.example.demo.TestRunner"/>
        </classes>
    </test>


</suite>
