   
  /*hover for register button*/
  .btn-orange {
    background-color: #FF4500; /* your base color */
   color: white;              /* text color */
    border: none;              /* optional: remove border */
    transition: background-color 0.3s; /* smooth hover effect */
  }

  /* Hover effect */
  .btn-orange:hover {
    background-color: #E64500; /* darker orange on hover */
    color: white; 
  }


