#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*css for publishAssessment*/
.publish-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 520px;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.publish-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
}

.publish-info div {
  margin-bottom: 8px;
}

.publish-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.publish-buttons button {
  padding: 8px 18px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.publish-btn {
  background-color: #007bff;
  color: white;
}

.schedule-btn {
  background-color: #6c757d;
  color: white;
}

.cancel-btn {
  background-color: #dc3545;
  color: white;
}
