@page
@model TFLPortal
@{
    ViewData["Title"] = "TFLPortal";
}
<h1>@ViewData["Title"]</h1>
<h2>Transflower learning private ltd</h2>
<style>
    table, th, td {border:1px solid black; }
    
</style>
<table style="width: 50%; height: 50%">
    <tr>
        <th>
            Name
        </th>
        <th>contact Number</th>
    <tr>
        <td>
            Shridhar
        </td>
        <td>
            8569743254
        </td>
    </tr>
     <tr>
        <td>
            Vaibhav
        </td>
        <td>
            8754963251
        </td>
    </tr>
     <tr>
        <td>
            Akash
        </td>
        <td>
            8567423641
        </td>
    </tr>
    </tr>
</table>
