
/* CENTER ENTIRE SCREEN */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  background: #020202;
}

/* MAIN CONTAINER */
.Dashboard-Container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #020202;

  /* CENTER FIX */
  max-width: 1200px;
  margin: 0 auto;
}


/* HEADER */
.Dashboard-Header {
  background: #0a0a0a;
  border: 2px solid #333;
  padding: 15px;
  margin-bottom: 20px;
}

.Dashboard-Header h2 {
  margin: 0;
  color: #1a237e;
}

.Dashboard-Header p {
  margin: 4px 0;
  font-size: 14px;
}

/* KPI STRIP */
.KPI-Strip {
  display: flex;
  justify-content: space-around;
  background: #040404;
  border: 2px solid #333;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
}

.KPI-Strip div {
  text-align: center;
}

/* TABLE */
.Dashboard-Table {
  background: #121212;
  border: 2px solid #333;
  padding: 15px;
  margin-bottom: 20px;
}

.Dashboard-Table h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
}

th {
  background: #0f0f0f;
}

/* PANELS */
.Dashboard-Panels {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.Panel {
  flex: 1;
  background: #0a0a0a;
  border: 2px solid #333;
  padding: 40px;
  text-align: center;
  font-weight: bold;
}

/* ACTION PANEL */
.Action-Panel {
  background: #000000;
  border: 2px solid #0d0d0d;
  padding: 20px;
  text-align: center;
}

.Action-Panel h3 {
  margin-bottom: 15px;
}

.Action-Panel button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.Action-Panel button:nth-child(2) {
  background: #4caf50;
  color: rgb(14, 14, 14);
}

.Action-Panel button:nth-child(3) {
  background: #ffc107;
}

.Action-Panel button:nth-child(4) {
  background: #f44336;
  color: rgb(5, 4, 4);
}
